nav {
  display: flex;
  align-items: center;
  box-shadow: 0 0.19rem 0.47rem rgba(0, 0, 0, 0.1);
  height: 4.38rem;
  padding: 0 1.88rem;
}

section {
  padding: 1.25rem;
}

.bold {
  font-weight: bold;
}

.nav--logo {
  max-width: 5.13rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.header--img {
  align-self: center;
  max-width: 35rem;
  width: min-content;
  margin: 1.63rem 0;
}

.header--description {
  margin: 0.38rem 0;
}

.header--description h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 110%;
}

.header--description p {
  width: 45%;
  line-height: 110%;
  color: #222222;
}

.card {
  display: flex;
  flex-direction: column;
  width: 10.94rem;
  font-size: 0.75rem;
  flex: 0 0 auto;
}

.card-info {
  display: flex;
  align-items: center;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.25rem;
  overflow-x: auto;
}

.card--img {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 0.56rem;
}

.star-icon {
  width: 0.88rem;
}

.card--info-ratings {
  color: #918E9B;
}

.card--description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--price {
  margin-top: auto;
}